.LeftBar{
position: absolute;
    width: 300px;
    margin-top: 60px;
    height: 100%;
    background-color: #e6eef5;
    border-top: #d3dbe3 solid 1px;
    box-shadow: #d3dbe3;
    transition: 0.3s;

}

.LeftNav {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-bottom: 50px;
    display: inline-block;
    margin-left: 90px;
    margin-top: 20px;
    color: black;
    transition: 0.2s;
}

.LeftNav:hover {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-bottom: 50px;
    display: inline-block;
    margin-left: 90px;
    margin-top: 20px;
    color: black;
    font-size: 20px;
    color: #b0b8bf;
    transition: 0.2s;
}

.active {

    font-weight: bold;
}